name = "studio-platform-api"
compatibility_date = "2024-02-08"

[vars]
ENVIRONMENT = "dev"

[[d1_databases]]
binding = "DB"
database_name = "studio-platform-db"
database_id = "41de24ac-e5d7-4a7a-b49b-f55f46dc81b8"

