name = "studio-platform-api"
compatibility_date = "2024-12-30"
compatibility_flags = ["nodejs_compat"]
main = "src/index.ts"
crons = ["*/15 * * * *"]

[vars]
ENVIRONMENT = "dev"

[[d1_databases]]
binding = "DB"
database_name = "studio-platform-db"
database_id = "41de24ac-e5d7-4a7a-b49b-f55f46dc81b8"
migrations_dir = "migrations"

[[r2_buckets]]
binding = "R2"
bucket_name = "studio-platform-assets"

[durable_objects]
bindings = [
  { name = "CHAT_ROOM", class_name = "ChatRoom" },
  { name = "RATE_LIMITER", class_name = "RateLimiter" },
  { name = "METRICS", class_name = "Metrics" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["ChatRoom"]

[[migrations]]
tag = "v2"
new_sqlite_classes = ["RateLimiter"]

[[migrations]]
tag = "v3"
new_classes = [] 

[[migrations]]
tag = "v4"
new_sqlite_classes = ["Metrics"]


